body {
    font-family: monospace;
    font-size: 12.5px;
    padding: 4em 1em;
    width: min(70ch, 100%);
    margin: auto;
}

.title, h1, h2, h3, h4, h5, h6 {
    font-size: 12.5px;
    text-align: left;
    text-transform: uppercase;
}

dd {margin-left: 4ch}
ul {list-style: square; padding-left: 4ch}
h2 {border-bottom: 1px dashed black}
