html, body {margin: 0; height: 100%;}

body {
    font-family: verdigris-mvb-pro-big;
    font-size: 24pt;
}

#container {
    height: 100%;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#links {
    margin: 0;
    text-align: right;
    font-size: 18pt;
}

#links li:before {
  content: '\00a0\2022\00a0\00a0';
}

#links li:first-child:before {
  content: '';
}

#links li {
    display: inline;
}

a {
    color: #808080;
    text-decoration: none;
    font-variant: all-petite-caps;
}

#content {
    height: 20em;
    border: 1px solid #808080;
}

#content p {
    margin: 0.5in 0.8in;
    hyphens: auto;
}

#content a {
    letter-spacing: 0.2em;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.spacer {
    height: 2em;
}

/* # Dark mode */
@media (prefers-color-scheme: dark) {
	body {
	    background-color: black;
	    color: white;
	}
}
